/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"); */
@import url("https://nectarition.github.io/LINE-Seed-JP/css/line-seed-jp.css");

:root {
  --primary-brand-color: #ea6183;
  --primary-brand-light-color: #ffdede;
  --primary-brand-active-color: #99334c;
  --background-primary-brand-color: #f9b7c7;
  --background-primary-brand2-color: #fccbd6;
  --background-color: #ffffff;
  --background-body-color: #fff0f0;
  --background-light-color: #f0f0f0;
  --background-light2-color: #f8f8f8;
  --background-dark-color: #d0d0d0;
  --background-dark-active-color: #b3b3b3;
  --background-gray-color: #808080;
  --background-disabled-color: #d0d0d0;
  --text-color: #000000;
  --text-foreground-color: #ffffff;
  --text-light-color: #404040;
  --text-disabled-color: #808080;
  --link-color: #ea6183;
  --info-color: #20a0f0;
  --info-active-color: #1080e0;
  --pending-color: #808080;
  --success-color: #32c041;
  --danger-color: #bf4040;
  --danger-active-color: #8a2e38;
  --warning-color: #ffff00;
  --border-color: #e0e0e0;
  --outline-color: #b0b0b0;
  --shadow-color: #e0e0e0;
  --scroll-thumb-color: #00000040;
  --scroll-thumb-active-color: #00000080;
}

@media (prefers-color-scheme: dark) {
  :root {
  --primary-brand-color: #cf6885;
  --primary-brand-light-color: #202020;
  --primary-brand-active-color: #99334c;
  --background-primary-brand-color: #a2475e;
  --background-primary-brand2-color: #862e44;
  --background-color: #101010;
  --background-body-color: #080808;
  --background-light-color: #303030;
  --background-light2-color: #181818;
  --background-dark-color: #282828;
  --background-dark-active-color: #181818;
  --background-gray-color: #000000;
  --background-disabled-color: #a0a0a0;
  --text-color: #e0e0e0;
  --text-foreground-color: #ffffff;
  --link-color: #cf6885;
  --text-light-color: #a0a0a0;
  --text-disabled-color: #404040;
  --info-color: #3b8bbd;
  --info-active-color: #266288;
  --pending-color: #404040;
  --danger-color: #c06051;
  --danger-active-color: #973c2e;
  --warning-color: #cfcf00;
  --success-color: #3a8343;
  --border-color: #808080;
  --outline-color: #606060;
  --shadow-color: #202020;
  --scroll-thumb-color: #ffffff40;
  --scroll-thumb-active-color: #ffffff80;
  }
}