:root {
  --brand-color: #ea6183;
  --body-background-color: #f0f0f0;
  --panel-background-color: #e8e8e8;
  --brand-background-color: #282020;
  --brand-background-active-color: #e8e0e0;
  --inputfield-background-color: #fcfcfc;
  --text-color: #282020;
  --text-foreground-color: #282020;
  --text-light-color: #888080;
  --link-color: #282020;
  --border-color: #e8e0e0;
  --outline-color: #908888;
  --disabled-background-color: #d0d0d0;
  --disabled-text-color: #a0a0a0;
  --warning-color: #f0a000;
  --error-color: #dc4d40;
  --success-color: #379637;
  --info-color: #1f6ec7;
  --pending-color: #a0a0a0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand-color: #ea6183;
    --body-background-color: #222020;
    --panel-background-color: #2a2828;
    --brand-background-color: #121010;
    --brand-background-active-color: #323030;
    --inputfield-background-color: #222020;
    --text-color: #d8d0d0;
    --text-foreground-color: #d8d0d0;
    --text-light-color: #888080;
    --link-color: #d8d0d0;
    --border-color: #343030;
    --outline-color: #908888;
    --disabled-background-color: #404040;
    --disabled-text-color: #606060;
    --warning-color: #f0a000;
    --error-color: #dc4d40;
    --success-color: #379637;
    --info-color: #1f6ec7;
    --pending-color: #606060;
  }
}
